<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610567478040-a66gq94062tqo623qaddhbv7qvjmkusj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610567478040-a66gq94062tqo623qaddhbv7qvjmkusj</string>
	<key>API_KEY</key>
	<string>AIzaSyBD9WwTXuodJ3j1qY5pDtMd5hkYylBW-oc</string>
	<key>GCM_SENDER_ID</key>
	<string>610567478040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airPay</string>
	<key>PROJECT_ID</key>
	<string>airpay-e65eb</string>
	<key>STORAGE_BUCKET</key>
	<string>airpay-e65eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610567478040:ios:eb2760628fba3169f19c6d</string>
</dict>
</plist>